<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="appConfig" type="System.Configuration.AppSettingsSection, System.Configuration"></section>
		<section name="emailSenderConfig" type="System.Configuration.AppSettingsSection, System.Configuration"></section>
	</configSections>
	<appConfig>
		<add key="logFilePath" value="folderPath"/>
		<add key ="dbKey" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TestDB;Integrated Security=True"/>
		<add key="scriptFolderPath" value="folderPath"/>
	</appConfig>
	<emailSenderConfig>
		<add key="senderEmailLogin" value="emailAdress"/>
		<add key="senderEmailSMTPServer" value="smtp.gmail.com"/>
		<add key="senderEmailPort" value="465"/>
		<add key="senderEmailPassword" value="password"/>
		<add key="defaultRecipients" value="emailAdress"/>
	</emailSenderConfig>
</configuration>


