<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="logFilePath" connectionString="D:\Учёба\sql\log.txt"/>
		<add name ="dbKey" providerName ="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TestDB;Integrated Security=True;Pooling=False;Initial Catalog=testDB;Integrated Security=True;Pooling=False"/>
		<add name="folderPath" connectionString="D:\Учёба\sql"/>
		
	</connectionStrings>
</configuration>