<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<add key="logFilePath" value="D:\Учёба\sql\log.txt"/>
	<add key ="dbKey" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TestDB;Integrated Security=True"/>
	<add key="scriptFolderPath" value="D:\Учёба\sql"/>
	</appSettings>
</configuration>


